/* Our app colours */

$dark-main: #006E5B;
$dark-secondary: #008771;
$text-color: #0D0024;
$light-main: #EDFFFD;
$light-secondary: #C9FFF3;
$accent-one: #FF547F;
$accent-two: #FC6232;

/* Our app fonts */

$heading-font: 'Fredericka the Great', cursive;
$body-font: 'Belleza', sans-serif;
